.lyricsPlayerContainer{
 

 height: 100vh;
background-color: black;
 width: 100vw;
 padding: 0px !important;
}
 .slide{

 }

 *{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
   
}
