.lyricsPlayerContainer{
 

 height: 100vh;
background-color: black;
 width: 100vw;
 padding: 0px !important;
 white-space: pre;
 
}
 .slide{

 }
 .lyricsPlayer_img{
     background-repeat: no-repeat !important;
     background-size: cover !important;
 }

 *{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
   
}
